<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scavenger Hunt  | University of Ottawa</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="shortcut icon" href="https://www.uottawa.ca/graduate-studies/sites/all/themes/custom/uottawa_zen_assets/favicon.ico" type="image/vnd.microsoft.icon">
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>

</head>
<body>
<div class="container">
    <div class="container-bg">
        <div class="navbar">
            <h3><a style="color: white;text-decoration: inherit" href="{% url 'index' %}">Scavenger Hunt </a></h3>
            <img src="https://www.uottawa.ca/sites/all/themes/custom/uottawa_zen_assets/images/uOttawaLogo.svg"
                 alt="University of Ottawa"/>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</div>
{% block script %}
{% endblock script %}
</body>
</html>